<hr>
<div class="col-md-8 col-md-offset-2">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" formControlName="firstName" value="" class="form-control">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" formControlName="lastName" value="" class="form-control">
    </div>
    <div class="form-group">
      <label for="email">Mail</label>
      <input type="email" formControlName="email" value="" class="form-control">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" formControlName="password" value="" class="form-control">
    </div>
    <button type="submit" name="button" class="btn btn-primary" [disabled]="!myForm.valid">Submit</button>
  </form>
</div>
